# NTSA_DATA
#### M.Abdirisak.A
##### 6/02/2024

In [1]:
import pandas as pd

In [2]:
data={
    'DAY':["MONDAY","TUESDAT","WEDNESDAY","THURDAY","FRIDAY","SATURDAY","SUNDAY"],
    'PUB CAR ACCIDENT':[32,56,34,23,45,49,41],
    'PRI CAR ACCIDENT':[12,9,16,17,10,19,20],
    'MOTOR CAR ACCIDENTS':[8,14,12,13,17,12,15]
}
df=pd.DataFrame(data)

In [3]:
df

         DAY  PUB CAR ACCIDENT  PRI CAR ACCIDENT  MOTOR CAR ACCIDENTS
0     MONDAY                32                12                    8
1    TUESDAT                56                 9                   14
2  WEDNESDAY                34                16                   12
3    THURDAY                23                17                   13
4     FRIDAY                45                10                   17
5   SATURDAY                49                19                   12
6     SUNDAY                41                20                   15

In [4]:
# changing columns case
df.columns=[x.lower() for x in df.columns]
df.columns

Index(['day', 'pub car accident', 'pri car accident', 'motor car accidents'], dtype='object')

In [5]:
# replacing space with (_)
df.columns=df.columns.str.replace(" ","_")
df

         day  pub_car_accident  pri_car_accident  motor_car_accidents
0     MONDAY                32                12                    8
1    TUESDAT                56                 9                   14
2  WEDNESDAY                34                16                   12
3    THURDAY                23                17                   13
4     FRIDAY                45                10                   17
5   SATURDAY                49                19                   12
6     SUNDAY                41                20                   15

In [6]:
# selecting row with specific columns
df.loc[3,['pub_car_accident', 'motor_car_accidents']]

pub_car_accident       23
motor_car_accidents    13
Name: 3, dtype: object

In [7]:
#selecting a specific row
df.iloc[3]

day                    THURDAY
pub_car_accident            23
pri_car_accident            17
motor_car_accidents         13
Name: 3, dtype: object

In [8]:
# filter only one row
filt=(df['pri_car_accident']==10)
df[filt]

      day  pub_car_accident  pri_car_accident  motor_car_accidents
4  FRIDAY                45                10                   17

In [9]:
#selecting specific from a row
filt=(df['pri_car_accident']==10)
df[filt]['day']

4    FRIDAY
Name: day, dtype: object

##### apply()

In [10]:
# apply is used to call functions or values in series or in a DataFrame 
df["day"].apply(len)

0    6
1    7
2    9
3    7
4    6
5    8
6    6
Name: day, dtype: int64

In [11]:
def updata_day(day):
    return day.lower()

In [12]:
df['day'].apply(updata_day)

0       monday
1      tuesdat
2    wednesday
3      thurday
4       friday
5     saturday
6       sunday
Name: day, dtype: object

In [13]:
df

         day  pub_car_accident  pri_car_accident  motor_car_accidents
0     MONDAY                32                12                    8
1    TUESDAT                56                 9                   14
2  WEDNESDAY                34                16                   12
3    THURDAY                23                17                   13
4     FRIDAY                45                10                   17
5   SATURDAY                49                19                   12
6     SUNDAY                41                20                   15

In [15]:
filt=df['pri_car_accident']
filt

0    12
1     9
2    16
3    17
4    10
5    19
6    20
Name: pri_car_accident, dtype: int64

In [23]:
df.loc[filt]

KeyError: "None of [Index([12, 9, 16, 17, 10, 19, 20], dtype='int64')] are in the [index]"